[project]
authors = ["Adam Blake <adam@ablake.dev>"]
channels = ["conda-forge", "default"]
description = "CourseKata Jupyter environments"
name = "coursekata"
platforms = ["linux-aarch64", "linux-64", "osx-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.12.0,<3.14"
pip = ">=24.3.1,<25"
jupyter_core = ">=5.7.2,<6"
jupyterhub-singleuser = ">=5.2.1,<6"
jupyterlab = ">=4.3.3,<5"
notebook = ">=7.3.1,<8"
nbclassic = ">=1.1.0,<2"

[feature.base-r.dependencies]
unixodbc = ">=2.3.12,<3"
r-base = ">=4,<5"
r-irkernel = ">=1.3.2,<2"
r-optparse = ">=1.7.5,<2"
r-remotes = ">=2.5.0,<3"
r-rlang = ">=1.1.4,<2"
pkg-config = ">=0.29.2,<0.30"

[feature.essentials.dependencies]
r-coursekata = ">=0.18.0,<0.19"
r-ggpubr = ">=0.6.0,<0.7"
r-gridextra = ">=2.3,<3"
r-lme4 = ">=1.1_35.5,<2"
r-plotly = ">=4.10.4,<5"
r-statmod = ">=1.5.0,<2"
r-scales = ">=1.3.0,<2"
r-evaluate = ">=1.0.1,<2"
r-magrittr = ">=2.0.3,<3"
r-markdown = ">=1.13,<2"
r-praise = ">=1.0.0,<2"
r-r6 = ">=2.5.1,<3"
r-stringdist = ">=0.9.14,<0.10"
r-xfun = ">=0.49,<0.50"
# for pythonwhat, not on conda
asttokens = "<3"
r-mass = ">=7.3_60.0.1,<8"
r-matrix = ">=1.6_5,<2"

[feature.essentials.pypi-dependencies]
pythonwhat = ">=2.3.0,<3"

[feature.r.dependencies]
r-av = ">=0.9.3,<0.10"
r-bayesplot = ">=1.11.1,<2"
"r-broom.mixed" = ">=0.2.9.6,<0.3"
r-car = ">=3.1_3,<4"
r-dagitty = ">=0.3_4,<0.4"
r-datapasta = ">=3.1.0,<4"
r-devtools = ">=2.4.5,<3"
r-dharma = ">=0.4.7,<0.5"
r-easystats = ">=0.7.3,<0.8"
r-emmeans = ">=1.10.6,<2"
r-fs = ">=1.6.5,<2"
r-gganimate = ">=1.0.9,<2"
r-ggdag = ">=0.2.13,<0.3"
r-ggeffects = ">=2.0.0,<3"
r-gifski = ">=1.12.0_2,<2"
r-gt = ">=0.11.1,<0.12"
r-gtsummary = ">=2.0.4,<3"
r-here = ">=1.0.1,<2"
r-janitor = ">=2.2.0,<3"
r-kknn = ">=1.3.1,<2"
r-lmertest = ">=3.1_3,<4"
r-loo = ">=2.8.0,<3"
r-mapdata = ">=2.3.1,<3"
r-mapproj = ">=1.2.11,<2"
r-marginaleffects = ">=0.24.0,<0.25"
r-modelsummary = ">=2.2.0,<3"
r-neuralnet = ">=1.44.2,<2"
r-posterior = ">=1.6.0,<2"
r-profvis = ">=0.4.0,<0.5"
r-psych = ">=2.4.3,<3"
r-purrr = ">=1.0.2,<2"
r-rcpptoml = ">=0.2.2,<0.3"
r-readxl = ">=1.4.3,<2"
r-reticulate = ">=1.40.0,<2"
r-sjplot = ">=2.8.17,<3"
r-tidybayes = ">=3.0.7,<4"
r-tidymodels = ">=1.2.0,<2"
r-tidyverse = ">=2.0.0,<3"
## for r-mobilizr, not on conda
r-curl = ">=6.0.1,<7"
r-dplyr = ">=1.1.4,<2"
r-latticeextra = ">=0.6_30,<0.7"
r-leaflet = ">=2.2.2,<3"
r-log4r = ">=0.4.4,<0.5"
r-mosaic = ">=1.9.1,<2"
r-plyr = ">=1.8.9,<2"
r-rcolorbrewer = ">=1.1_3,<2"
r-readr = ">=2.1.5,<3"
r-rpart = ">=4.1.23,<5"
"r-rpart.plot" = ">=3.1.2,<4"
r-rstudioapi = ">=0.17.1,<0.18"
r-rvest = ">=1.0.4,<2"
r-stringr = ">=1.5.1,<2"
r-systemfonts = ">=1.2.3,<2"
r-wordcloud = ">=2.6,<3"
r-xml = ">=3.99_0.17,<4"
r-xml2 = ">=1.3.6,<2"
## for r-ocsdata, not on conda
r-credentials = ">=2.0.2,<3"
r-gert = ">=2.1.4,<3"
r-gh = ">=1.4.1,<2"
r-gitcreds = ">=0.1.2,<0.2"
r-httr2 = ">=1.0.7,<2"
r-ini = ">=0.3.1,<0.4"
r-zip = ">=2.3.1,<3"
r-usethis = ">=3.1.0,<4"
r-whisker = ">=0.4.1,<0.5"
## for r-simstudy, not on conda
r-bh = ">=1.84.0_0,<2"
r-bigmemory = ">=4.6.4,<5"
"r-bigmemory.sri" = ">=0.1.8,<0.2"
r-fastglm = ">=0.0.3,<0.0.4"
r-mvnfast = ">=0.2.8,<0.3"
r-pak = ">=0.8.0,<0.9"

[feature.r.target.linux-aarch64.dependencies]
ocl-icd-system = ">=1.0.0,<2"

[feature.r.target.linux-64.dependencies]
ocl-icd-system = ">=1.0.0,<2"

[feature.datascience.dependencies]
ipywidgets = ">=8.1.5,<9"
matplotlib = ">=3.9.4,<4"
nltk = ">=3.9.1,<4"
openpyxl = ">=3.1.5,<4"
pandas = ">=2.2.3,<3"
plotly = ">=5.24.1,<6"
scikit-learn = ">=1.6.0,<2"
seaborn = ">=0.13.2,<0.14"
statsmodels = ">=0.14.4,<0.15"
altair = ">=5.5.0,<6"
beautifulsoup4 = ">=4.12.3,<5"
bokeh = ">=3.6.2,<4"
cmdstanpy = ">=1.2.4,<2"
contextily = ">=1.6.2,<2"
dash = ">=2.18.2,<3"
folium = ">=0.19.0,<0.20"
gensim = ">=4.3.2,<5"
dtreeviz = ">=2.2.2,<3"
mapclassify = ">=2.8.1,<3"
networkx = ">=3.4.2,<4"
researchpy = ">=0.3.6,<0.4"
scipy = ">=1.14.1,<2"
spotipy = ">=2.23.0,<3"
vega_datasets = ">=0.9.0,<0.10"
wordcloud = ">=1.9.4,<2"
yellowbrick = ">=1.4,<2"
cmdstan = ">=2.36.0,<3"
r-brms = ">=2.20.1,<3"
r-cmdstanr = ">=0.8.1,<0.9"
r-ggstatsplot = ">=0.13.0,<0.14"
r-rstanarm = ">=2.32.1,<3"
r-coda = ">=0.19_4.1,<0.20"
r-digest = ">=0.6.37,<0.7"
geopandas = ">=1.0.1,<2"

[feature.datascience.pypi-dependencies]
altair-latimes = ">=0.0.2, <0.0.3"
dash-cytoscape = ">=1.0.2, <2"
yahoo-fin = ">=0.8.9.1, <0.9"

[environments.base-r-notebook]
features = ["base-r"]
solve-group = "main"

[environments.essentials-notebook]
features = ["base-r", "essentials"]
solve-group = "main"

[environments.r-notebook]
features = ["base-r", "essentials", "r"]
solve-group = "main"

[environments.datascience-notebook]
features = ["base-r", "essentials", "r", "datascience"]
solve-group = "main"
