pythonwhat @ git+https://github.com/coursekata/pythonwhat@master

ipywidgets~=8.0
matplotlib~=3.6
nltk~=3.8
numpy~=1.24
openpyxl~=3.0
pandas~=2.0
plotly~=5.11
scikit-learn~=1.2
seaborn~=0.12
statsmodels~=0.13

# instructor-requested packages
altair~=4.2
altair-latimes~=0.0
beautifulsoup4~=4.11
bokeh~=3.0
cmdstanpy~=1.2
contextily~=1.2
dash~=2.11
dash-cytoscape~=0.3
folium~=0.14
gensim~=4.3
geopandas~=0.12
dtreeviz~=2.0
mapclassify~=2.4
networkx~=3.0
researchpy~=0.3
scipy~=1.10
spotipy~=2.22
vega_datasets~=0.9
wordcloud~=1.8
yahoo-fin~=0.8
yellowbrick~=1.5
