---
name: Build and Push an Image

on:
  workflow_call:
    inputs:
      image:
        description: "The name of the image to build"
        type: string
        required: true
      python-version:
        description: "Python version to use"
        type: string
        required: true
      r-version:
        description: "R version to use"
        type: string
        required: true
      runs-on:
        description: "The platform to build on"
        type: string
        required: false
        default: "ubuntu-latest"
      labels:
        description: "Labels to add to the image"
        type: string
        required: false
        default: ""
      platforms:
        description: "Platforms to build for"
        type: string
        required: false
        default: |
          linux/amd64
          linux/arm64/v8
      build-args:
        description: "Extra build arguments to pass to the image"
        type: string
        required: false
        default: ""
      build-contexts:
        description: "Extra build contexts to add to the image"
        type: string
        required: false
        default: ""
      push:
        description: "Whether to push the image to the registry"
        type: boolean
        required: false
        default: true

jobs:
  build:
    runs-on: ${{ inputs.runs-on }}
    steps:
      # https://github.com/jlumbroso/free-disk-space
      - if: ${{ inputs.runs-on == 'ubuntu-latest' }}
        name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          dotnet: false
          haskell: false
          large-packages: false
          swap-storage: false

      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # https://github.com/docker/login-action
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/login-action
      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # https://github.com/docker/metadata-action
      - name: Image Metdata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ github.repository_owner }}/${{ inputs.image }}
            ghcr.io/${{ github.repository_owner }}/${{ inputs.image }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=schedule,pattern={{date 'YYYY-MM-DD'}}
            type=sha
            type=raw,value=r-${{ inputs.r-version }}
            type=raw,value=python-${{ inputs.python-version }}
          labels: |
            org.opencontainers.image.title=${{ inputs.image }}
            org.opencontainers.image.url=https://github.com/${{ github.repository_owner }}/docker-stacks/pkgs/container/${{ inputs.image }}
            ${{ inputs.labels }}

      # https://github.com/docker/build-push-action
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: ${{ inputs.push }}
          context: ${{ inputs.context || inputs.image }}
          build-args: ${{ inputs.build-args }}
          build-contexts: ${{ inputs.build-contexts }}
          platforms: ${{ inputs.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
