---
name: Publish images

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - .github/workflows/publish.yml
      - .github/workflows/build-test-publish.yml
      - tests/**
      - base-r-notebook/**
      - essentials-notebook/**
      - r-notebook/**
      - datascience-notebook/**

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  # only cancel in-progress jobs or runs for the current workflow - matches against branch & tags
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  base-r:
    uses: ./.github/workflows/build-test-publish.yml
    secrets: inherit
    with:
      image: base-r-notebook
      labels: |
        org.opencontainers.image.title=Base R Notebook
        org.opencontainers.image.description=Jupyter Lab, Python, and R, and that's it.
      tags: |
        type=raw,value=python-3.11
        type=raw,value=r-4.3
      build-args: |
        PYTHON_VERSION=3.11
        R_VERSION=4.3
      publish: true

  essentials:
    needs: [base-r]
    uses: ./.github/workflows/build-test-publish.yml
    secrets: inherit
    with:
      image: essentials-notebook
      labels: |
        org.opencontainers.image.title=Essentials Notebook
        org.opencontainers.image.description=CourseKata essentials: everything used in the books.
      tags: |
        type=raw,value=python-3.11
        type=raw,value=r-4.3
      build-args: |
        BASE_NAME=${{ needs.base-r.outputs.image }}@${{ needs.base-r.outputs.digest}}
        PARENT_NAME=${{ needs.base-r.outputs.image }}@${{ needs.base-r.outputs.digest}}
      publish: true

  r:
    needs: [base-r, essentials]
    uses: ./.github/workflows/build-test-publish.yml
    secrets: inherit
    with:
      image: r-notebook
      labels: |
        org.opencontainers.image.title=R Notebook
        org.opencontainers.image.description=CourseKata essentials and other R packages for teaching and learning data science.
      tags: |
        type=raw,value=python-3.11
        type=raw,value=r-4.3
      build-args: |
        BASE_NAME=${{ needs.base-r.outputs.image }}@${{ needs.base-r.outputs.digest}}
        PARENT_NAME=${{ needs.essentials.outputs.image }}@${{ needs.essentials.outputs.digest}}
      publish: true
      free-disk-space: true

  datascience:
    needs: [base-r, r]
    uses: ./.github/workflows/build-test-publish.yml
    secrets: inherit
    with:
      image: datascience-notebook
      labels: |
        org.opencontainers.image.title=Data Science Notebook
        org.opencontainers.image.description=R and Python packages for teaching and learning data science.
      tags: |
        type=raw,value=python-3.11
        type=raw,value=r-4.3
      build-args: |
        BASE_NAME=${{ needs.base-r.outputs.image }}@${{ needs.base-r.outputs.digest}}
        PARENT_NAME=${{ needs.r.outputs.image }}@${{ needs.r.outputs.digest}}
      publish: true
      free-disk-space: true
