name: Build and Publish the Images

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - .github/actions/build-and-push/
      - .github/actions/publish.yml
      - scripts/
      - python-notebook/
      - minimal-r-notebook/
      - essentials-notebook/
      - r-notebook/
      - datacience-notebook/
  schedule:
    # every Friday at 10AM
    # see https://crontab.guru
    - cron: "0 10 * * 5"

env:
  platforms: |
    linux/amd64
    linux/arm64/v8
  # these versions are only used to modify images for minimal-r-notebook and python-notebook
  # in all other images, these are just used to tag the images (which are built from those)
  python-version: "3.10"
  r-version: "4.2"

jobs:
  python-notebook:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push
        uses: ./.github/actions/build-and-push
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-tags: type=raw,value=python-${{ env.python-version }}
          build-args: PYTHON_VERSION=${{ env.python-version }}

  minimal-r-notebook:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push
        uses: ./.github/actions/build-and-push
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-tags: |
            type=raw,value=python-${{ env.python-version }}
            type=raw,value=r-${{ env.r-version }}
          build-args: |
            PYTHON_VERSION=${{ env.python-version }}
            R_VERSION=${{ env.r-version }}

  essentials-notebook:
    needs: minimal-r-notebook
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push
        uses: ./.github/actions/build-and-push
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-tags: |
            type=raw,value=python-${{ env.python-version }}
            type=raw,value=r-${{ env.r-version }}
          build-args: BASE_TAG=r-${{ env.r-version }}
          build-contexts: scripts=scripts

  r-notebook:
    needs: minimal-r-notebook
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push
        uses: ./.github/actions/build-and-push
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-tags: |
            type=raw,value=python-${{ env.python-version }}
            type=raw,value=r-${{ env.r-version }}
          build-args: BASE_TAG=r-${{ env.r-version }}
          build-contexts: scripts=scripts

  datascience-notebook:
    needs: r-notebook
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push
        uses: ./.github/actions/build-and-push
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-tags: |
            type=raw,value=python-${{ env.python-version }}
            type=raw,value=r-${{ env.r-version }}
          build-args: BASE_TAG=r-${{ env.r-version }}
